body{margin:0;padding:0;background-color:#f2f2f2;font-family:Poppins,sans-serif;font-size:16px;color:#000}
h1,h2,h3,h4,h5,h6,p{margin-bottom:0}
p{font-size:16px}
.btn{border-radius:4px}
.btn:focus-visible{border-color:unset!important;outline:unset!important;box-shadow:unset!important}
.main__wrapper{padding:30px 0}
.left__wrapper figcaption{padding:15px 10px 20px}
.left__wrapper figcaption h4{margin-bottom:8px}
.showSummary,.showSummary.btn:active,.showSummary:focus,.showSummary:focus-visible,.showSummary:hover{background-color:#f84464;color:#fff}
.book__movie,.book__movie.btn:active,.book__movie:focus,.book__movie:hover{display:block;background-color:#f84464;color:#fff;margin-top:20px}
.form__btn,.form__btn:focus,.form__btn:focus-visible{background-color:#f84464!important;color:#fff!important;border:unset}
.form__btn:active,.form__btn:focus,.form__btn:hover{background-color:#f84464;color:#fff}
.skeleton__wrapper{margin-bottom:30px}
@media (max-width:820px){
.left__wrapper figcaption h4,.modal-title{font-size:20px}
.book__movie,.form__btn,.showSummary{font-size:14px}
.right__wrapper>p{font-size:15px;line-height:21px}
}
@media (max-width:767px){
.right__wrapper>p{font-size:14px;line-height:20px}
}